*.o
*.pro.*
*.bak
*.vert.xxd
*.frag.xxd
*.ttf.xxd
*.png.xxd
*.h.xxd

Makefile

mkxp
mkxp.wasm
mkxp.html
mkxp.js
xxd+

/build
/deps
/CMakeFiles
/output

CMakeCache.txt
cmake_install.cmake

# Codeblocks
mkxp.layout
mkxp.cbp

